<h1>Listing items</h1>

<table  class="table table-striped">
  <thead>
    <tr>
      <th>Completed</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @list.items.each do |item| %>
      sss
      <tr>
        <td><%= item.completed %></td>
        <td><%= item.description %></td>
        <td><%= link_to 'Show'%></td>
     

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_list_item_path %>
